<h1>ようこそ、rails-gachattoへ！</h1>

<% if user_signed_in? %>
  <p>こんにちは、<%= current_user.username %>さん！</p>
  <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'ログイン', new_user_session_path %> |
  <%= link_to 'サインアップ', new_user_registration_path %>
<% end %>
